<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rooms</title>

  <link rel="stylesheet" href="menu.css">
</head>
<body>

    <h1 class="name">ola <%= userAndRooms[0].name%>!</h1>
    <div class="Rooms">

        <h1>Crie ou Entre em uma sala</h1>

          <form method="post" class="form" action="/rooms">
              <label for="roomName">Digite o nome da sala</label>
              <input type="text" id="roomName" name="roomName" required><br>
              <input type="text" id="userName" name="userName" value="<%= userAndRooms[0].name %>" style="display: none;">
              <button type="submit" class="buttonCreateAcount">Entrar/Criar</button>
          </form>
            
    </div>       

    <% if (userAndRooms[1].length > 0) { %>
      <div class="moreAcess">
        <h1>Salas mais acessadas</h1>
    
        <% for (let i = 0; i < Math.min(4, userAndRooms[1].length); i++) { %>
          <div class="room">
            <form method="post" action="/rooms">
              <input type="text" name="roomName" id="roomName" value="<%= userAndRooms[1][i].name %>" readonly>
              <input type="text" id="userName" name="userName" value="<%= userAndRooms[0].name %>" style="display: none;" readonly>
              <button type="submit">Entrar na Sala</button>
              <br>
              <label>visits: <%=userAndRooms[1][i].visits%></label>
            </form>
          </div>
        <% } %>
    
      </div>
    <% } %>
    

    
   <script src="menu.js"></script>
</body>
</html> 